.header.new-header{
	min-width: 1200px;
    box-sizing: border-box;
    position: absolute;
    padding:20px 40px;
    min-height: 200px;
    background: url(header_images/banner-block.png?t=2) no-repeat;
}
.header .slogan{
	background-image: url(header_images/slogan.svg?t=2) , none ;
	background-size: contain;
	width: 190px;
	height: 58px;
	padding-right: 30px;
	margin-left: 10px;
	background-repeat: no-repeat;
}
@media (max-width: 1400px) {
	.header .slogan  { display: none;}
	#destination_nav:before{
		border-bottom: 11px solid #fff;
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		content: "";
		position: absolute;
		top: -8px;
	    left: 320px;
	}
	
}
.wp.width-screen{
	width: auto;
}
.width-screen .new-logo{
	background: url(header_images/logo_home.svg?t=2) no-repeat;
	background-size: contain;
	width: 70px;
	height: 80px;
	margin-right: 5px;
	margin-top: 0px;
}
.width-screen .logo-xmas{
	background: url(header_images/logo_xmas.png) no-repeat;
	background-size: contain;
	width: 70px;
	height: 80px;
	position:relative;
	top:-8px;
	margin-right: 5px;
	margin-top: 0px;
}
.width-screen .activityIcon
{
	background: url(header_images/activityIcon.png) no-repeat;
	background-size: contain;
	width: 35px;
	height: 42px;
	margin-right: 10px;
	margin-top: 5px;
}
@media all and (max-width: 1280px){
	.width-screen .new-logo{
		padding-right: 40px;
		width: 30px;
	}
}
.new-header .nav .items.new-items{
	padding-top: 22px;
	color: #fff;
}
.new-header .nav .new-items li .ma{
	color: #fff;
	font-size: 16px;
}
.navlink-a{
	position: relative;
}
.navlink-a.cur:hover:after{
	border-top: 5px solid #ff9b14;
}
.navlink-a:after{
	content: "";
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	top: 11px;
	right: 2px;
}
.header.new-header .userlink a{
	color: #fff;
	display: inline-block;
    height: 40px;
}
.header.new-header .userlink{
	width: auto;
}
.pr{
	position: relative;
}
.pl21{
	padding-left: 21px;
}
.icon-phone{
	width: 10px;
	height: 16px;
	position: absolute;
	left: -7px;
	top: 0px;
	color: white;
}
.icon-gift{
	width: 13px;
    height: 14px;
    position: absolute;
    left: 2px;
    top: 0;
    background: url(header_images/icon-gift.png?t=1);
    background-size: contain;
}
.download-box{
	width: 200px;
	background: #fff;
	border: 1px solid #fff;
	position: absolute;
	padding-bottom: 30px;
    top: 40px;
    left: 0;
    display: none;
    box-shadow: 0 0 1px #eee;
    color: #333;
}

.download-box:before{
	border-bottom: 11px solid #fff;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	content: "";
	position: absolute;
	top: -11px;
	left: 32px;
}
.userlink.pt28{
	padding-top: 28px;
}
.header.new-header .nav{
	width: auto;
}
.download-box img{
	width: 100px;
	margin: 0 auto;
    display: block;
}
.download-1{
	text-align: center;
    padding: 15px 0 7px 0;
    font-size: 14px;
}
.download-2{
	text-align: center;
	padding: 7px 0;
	font-size: 14px;
}
.download-send input{
	box-sizing:border-box;
	margin: 0 auto;
	display: block;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	outline: 0;
	border: 0;
	background: #fff;
	margin-bottom: 10px;
    box-shadow: 0 0 1px #333;
    border: 1px solid #eee;
}
.btn-download{
	margin: 0 auto;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #ff8000;
	color: #fff;
}
.download-btn:hover .download-box{
	display: block;
}
/*#destination_nav{
	position: relative;
}*/
#destination_nav:before{
	border-bottom: 11px solid #fff;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	content: "";
	position: absolute;
	top: -8px;
    left: 460px;
}
.header .userlink span.mobile{
	margin-top: 0;
}
@media (max-width: 1400px) {
	.header .slogan  { display: none;}
	#destination_nav:before{
		border-bottom: 11px solid #fff;
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		content: "";
		position: absolute;
		top: -8px;
		left: 224px;
	}

}